<h1 class="border-bottom title">
  <span class="content-title">
    Itens em estoque
  </span>
</h1>
<section>
  <form class="border-bottom form-validate" novalidate name="form_itens">
    <fieldset>
      <label for="nome">Filtro</label>
      <input type="text" class="search" ng-model="filtro.produto" name="nome" id="nome"
      placeholder="nome do produto" autofocus>
      <!-- <a class="search hint" data-hint="Procurar produtos" ng-click="openSearchProduto()">Pesquisar produtos</a> -->
  </form>
</section>
<section>
  <h1 class="subtitle centralize">
    Estoque de produtos
  </h1>
  <table pdr-table proporcoes="2,1,1,1" class="content-table" service="Produtos">
    <thead class="gradient" pdr-header titulos="Produto,Custo,Valor,Quantidade"></thead>
    <tbody pdr-body btn-edita="false" btn-deleta="false" data-service="ItensEstoque" no-select filter="filtro.produto"></tbody>
  </table>
</section>
