<h1 class="border-bottom title">
  <span class="content-title">
    Lançamento de itens em estoque
  </span>
</h1>
<section>
  <span class="data-added" ng-show="dataAdded">
    O produto foi lançado em estoque
  </span>
  <span class="field-invalid" ng-show="insertError">
    Não foi possível inserir o lançamento do produto no servidor
  </span>
  <span ng-repeat="err in errors" class="field-invalid" ng-show="insertError">
    {{err.message}}
  </span>
  <form class="border-bottom form-validate" novalidate name="form_estoque" ng-submit="addItem()">
    <fieldset>
      <span class="field-invalid" ng-show="form_estoque.nome.$error.required && form_estoque.$submitted">
        O nome do produto deve ser informado
      </span>
      <span class="field-invalid" ng-show="form_estoque.nome.$error.product && form_estoque.$submitted">
        O nome do produto informado não existe na base de dados
      </span>
      <label for="nome">Produto</label>
      <input type="text" class="search" ng-model="itemEstoque.produto" name="nome" id="nome" product-field-validator
      placeholder="nome do produto" required autofocus pdr-focus="foca-nome">
      <a class="search hint" data-hint="Procurar produtos" ng-click="openSearchProduto()">Pesquisar produtos</a>

      <span class="field-invalid" ng-show="form_estoque.data.$error.required && form_estoque.$submitted">
        A data deve ser informada
      </span>
      <span class="field-invalid" ng-show="form_estoque.data.$error.date && form_estoque.$submitted">
        A data informada é inválida. Informe uma data válida para continuar
      </span>
      <label for="data">Data</label>
      <input type="date" ng-model="itemEstoque.data" name="data" id="data" placeholder="Data do Item"
      title="A data deve ser no formato dd/mm/aaaa" required pdr-focus="foca-data">

      <span class="field-invalid" ng-show="form_estoque.quantidade.$error.required && form_estoque.$submitted">
        A quantidade do produto deve ser informada
      </span>
      <span class="field-invalid" ng-show="form_estoque.quantidade.$error.pattern && form_estoque.$submitted">
        A quantidade deve ser um número inteiro
      </span>
      <span class="field-invalid" ng-show="form_estoque.quantidade.$error.number && form_estoque.$submitted">
        A quantidade deve ser um número válido
      </span>
      <label for="quantidade">Quantidade</label>
      <input type="number" ng-model="itemEstoque.quantidade" name="quantidade" id="quantidade" placeholder="quantidade de produtos"
      pattern="[0-9]*" title="A quantidade deve ser um número inteiro" required>

    </fieldset>
    <button type="submit" name="Cadastrar">{{adicionaText}}</button>
    <button type="button" name="Cancelar" ng-click="cancelClick()">{{limparText}}</button>
  </form>
</section>
<section>
  <h1 class="subtitle table-title">
    Estoque de produtos
  </h1>

  <input type="text" name="filter" ng-model="filter" class="table-filter" placeholder="Filtrar tabela">
  <label class="table-filter" for="filter">Filtra tabela</label>

  <table pdr-table proporcoes="3,1,1" class="content-table">
    <thead class="gradient" pdr-header titulos="Produto,Data,Quantidade"></thead>
    <tbody pdr-body btn-edita="true" btn-deleta="true" data-service="Estoque" no-select filter="filter"></tbody>
  </table>
</section>
