<h1 class="border-bottom title">
  <span class="content-title">
    Lançamento de vendas
  </span>
</h1>
<section>
  <span class="data-added" ng-show="dataAdded">
    A venda do produto foi lançada
  </span>
  <span class="field-invalid" ng-show="insertError">
    Não foi possível inserir o lançamento da venda no servidor
  </span>
  <span ng-repeat="err in errors" class="field-invalid" ng-show="insertError">
    {{err.message}}
  </span>
  <form class="border-bottom form-validate" novalidate name="form_venda" ng-submit="addItem()">
    <fieldset>
      <span class="field-invalid" ng-show="form_venda.nome.$error.required && form_venda.$submitted">
        O nome do produto deve ser informado
      </span>
      <span class="field-invalid" ng-show="form_venda.nome.$error.product && form_venda.$submitted">
        O nome do produto informado não existe na base de dados
      </span>
      <label for="nome">Produto</label>
      <input type="text" class="search" ng-model="itemVenda.produto" name="nome" id="nome" product-field-validator
      placeholder="nome do produto" required autofocus pdr-focus="foca-nome">
      <a class="search hint" data-hint="Procurar produtos" ng-click="openSearchProduto()">Pesquisar produtos</a>

      <span class="field-invalid" ng-show="form_venda.data.$error.required && form_venda.$submitted">
        A data deve ser informada
      </span>
      <span class="field-invalid" ng-show="form_venda.data.$error.date && form_venda.$submitted">
        A data informada é inválida. Informe uma data válida para continuar
      </span>
      <label for="data">Data</label>
      <input type="date" ng-model="itemVenda.data" name="data" id="data" placeholder="Data do Item"
      title="A data deve ser no formado dd/mm/aaaa" required pdr-focus="foca-data">

      <span class="field-invalid" ng-show="form_venda.hora.$error.required && form_venda.$submitted">
        A hora do lançamento deve ser informada
      </span>
      <label for="hora">Hora</label>
      <input type="text" ng-model="itemVenda.hora" name="hora" id="hora" placeholder="Hora de venda"
      title="A hora deve ser no formato hh:mm" required pdr-focus="foca-data" fm-hour-mask data="itemVenda.hora">

      <span class="field-invalid" ng-show="form_venda.quantidade.$error.required && form_venda.$submitted">
        A quantidade do produto deve ser informada
      </span>
      <span class="field-invalid" ng-show="form_venda.quantidade.$error.pattern && form_venda.$submitted">
        A quantidade deve ser um número inteiro
      </span>
      <span class="field-invalid" ng-show="form_venda.quantidade.$error.number && form_venda.$submitted">
        A quantidade deve ser um número válido
      </span>
      <label for="quantidade">Quantidade</label>
      <input type="number" ng-model="itemVenda.quantidade" name="quantidade" id="quantidade" placeholder="quantidade de produtos"
      pattern="[0-9]*" title="A quantidade deve ser um número inteiro" required>

    </fieldset>
    <button type="submit" name="Cadastrar">{{adicionaText}}</button>
    <button type="button" name="Cancelar" ng-click="cancelClick()">{{limparText}}</button>
  </form>
</section>
<section>
  <h1 class="subtitle table-title">
    Vendas de produtos
  </h1>

  <input type="text" name="filter" ng-model="filter" class="table-filter" placeholder="Filtrar tabela">
  <label class="table-filter" for="filter">Filtra tabela</label>

  <table pdr-table proporcoes="3,1,1,1" class="content-table">
    <thead class="gradient" pdr-header titulos="Produto,Dia,Hora,Quantidade"></thead>
    <tbody pdr-body btn-edita="true" btn-deleta="true" data-service="Venda" no-select filter="filter"></tbody>
  </table>
</section>
