<h1 class="border-bottom title">
  <span class="content-title">
    Produtos
  </span>
</h1>
<section>
  <span class="data-added" ng-show="dataAdded">
    O produto foi adicionado com sucesso
  </span>
  <span class="field-invalid" ng-show="insertError">
    Não foi possível inserir o produto no servidor
  </span>
  <span ng-repeat="err in errors" class="field-invalid" ng-show="insertError">
    {{err.message}}
  </span>
  <form class="border-bottom form-validate" novalidate name="form_produto" ng-submit="addProduto()" autocomplete="off">
    <!-- autocomplete="off" -->
    <fieldset>
      <span class="field-invalid" ng-show="form_produto.nome.$error.required && form_produto.$submitted">
        O nome do produto deve ser informado
      </span>
      <label for="nome">Produto</label>

      <input type="text" ng-model="produto.nome" name="nome" id="nome" placeholder="nome do produto" required autofocus ng-blur="onBlur($event)"
       pdr-focus="foca-nome" fm-search-panel fm-search-callback="searchCallback" data="produto.nome" service="Produtos">

      <span class="field-invalid" ng-show="form_produto.custo.$error.required && form_produto.$submitted">
        O custo do produto deve ser informado
      </span>
      <span class="field-invalid" ng-show="form_produto.custo.$error.pattern && form_produto.$submitted">
        O custo deve estar no padrão numérico de valores monetários
      </span>
      <label for="custo">Custo</label>
      <input type="text" ng-model="produto.custo" name="custo" id="custo" placeholder="custo do produto"
      title="O custo deve ser um valor real com separação de casa decimal com '.'" required fm-currency data="produto.custo">

      <span class="field-invalid" ng-show="form_produto.preco.$error.required && form_produto.$submitted">
        O Preço do produto deve ser informado
      </span>
      <span class="field-invalid" ng-show="form_produto.preco.$error.pattern && form_produto.$submitted">
        O Preço deve estar no padrão numérico de valores monetários
      </span>
      <label for="preco">Preço</label>
      <input type="text" ng-model="produto.preco" name="preco" id="preco" placeholder="preço do produto"
      required title="O preço deve ser um valor real com separação de casa decimal com '.'" required fm-currency data="produto.preco">

    </fieldset>
    <button type="submit" name="Cadastrar">{{adicionaText}}</button>
    <button type="button" name="Cancelar" ng-click="cancelClick()">{{limparText}}</button>
  </form>
</section>
<section>
  <h1 class="subtitle table-title">
    Tabela de produtos
  </h1>

  <input type="text" name="filter" ng-model="filter" class="table-filter" placeholder="Filtrar tabela">
  <label class="table-filter" for="filter">Filtra tabela</label>

  <table pdr-table proporcoes="2,1,1" class="content-table" service="Produtos">
    <thead class="gradient" pdr-header titulos="Produto,Custo,Valor"></thead>
    <tbody pdr-body btn-edita="true" btn-deleta="true" data-service="Produtos" filter="filter" no-select></tbody>
  </table>
</section>
