
.pdr-confirm-delete-main .space-bottom {
  padding-bottom: 10px;
}

.pdr-confirm-delete-main .space-top {
  padding-top: 10px;
}

.pdr-confirm-delete-main p {
  font-size: 1.1em;
  padding: 0.1em 2ch;
  white-space: normal;
  overflow: visible;
}

.pdr-confirm-delete-main h2 {
  font-size: 1.2em;
  white-space: normal;
  overflow: visible;
}
