:root {
  --panel-height: 20rem;
  --panel-width: 45ch;
  --close-icon-width: 2rem;
  --top-bar-height: 3rem;
  --button-bar-height: 4rem;
  --content-height: calc(var(--panel-height) - var(--top-bar-height) - var(--button-bar-height));

}

.pdr-confirm-delete-background-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;

  background-color: rgb(0, 0, 0, 0.3);

  transform-origin: 50% 50%;

  /* transform: scale(0); */

  transition: 0.2s;
}

.pdr-confirm-delete-message-box {
  position: fixed;
  top: calc(50% - (var(--panel-height)/2));
  left: calc(50% - (var(--panel-width)/2));
  width: var(--panel-width);
  height: var(--panel-height);

  background-color: rgb(255, 255, 255);

  border-radius: 10px 10px;
}

.pdr-confirm-delete-top-bar {
  background-image: linear-gradient(to bottom, rgb(0, 120, 200, 1), rgb(0, 100, 230, 0.6) 3rem);
  background-size: 100% var(--top-bar-height);
  background-repeat: no-repeat;

  position: relative;
  height: var(--top-bar-height);
  border-radius: 10px 10px 0 0;
}

.pdr-confirm-delete-close-button {
  position: relative;
  display: inline-block;

  font-size: 0;

  width: var(--close-icon-width);
  height: 2rem;
  max-width: 9%;

  top: 0.2rem;

  background-image: url('close.png');
  background-size: var(--close-icon-width) 2rem;
  background-repeat: no-repeat;
  background-origin: content-box;

  padding: 0.2rem;
  margin-right: 0.5rem;

  float: right;

  text-indent: -999999px;
}

.pdr-confirm-delete-titulo {
  display: inline-block;
  position: relative;

  top: 0.6rem;

  padding: 0.2rem;
  padding-left: 2em;
  margin: 0;
  margin-left: 0.6rem;

  box-sizing: border-box;
  max-width: calc(91% - var(--close-icon-width));

  white-space: nowrap; /*Não permite que o título quebre linha*/
  overflow: hidden; /*Não permite que o texto que excete o tamanho máximo "flua" para cima do ícone*/
}

.pdr-confirm-delete-titulo::before {
  content: '';
  background-image: url('delete-icon.png');
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;

  position: absolute;
  display: inline-block;

  left: 0.5rem;
  top: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.pdr-confirm-delete-main {
  position: relative;
  display: block;
  padding: 0.5rem 2ch;

  box-sizing: border-box;
  height: var(--content-height);

  line-height: 1;
  top: 0;

  overflow-y: auto;
}

.pdr-confirm-delete-nav {
  background-image: linear-gradient(to top, rgb(0, 120, 200, 1), rgb(0, 100, 230, 0.6) 3rem);
  background-size: 100% var(--button-bar-height);

  position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;

  width: 100%;
  height: var(--button-bar-height);

  border-radius: 0 0 10px 10px;
}

.pdr-confirm-delete-nav button {
  flex-grow: 1;
  margin: 1rem 1.5rem;

  box-shadow: var(--common-hover-button-shadow);
}

.pdr-confirm-delete-nav button[name="Confirmar"] {
  background-color: var(--confirm-color);
  color: var(--general-button-font-color);
  border: 1px solid var(--confirm-border-color);
}

.pdr-confirm-delete-nav button[name="Cancelar"] {
  background-color: var(--cancel-color);
  color: var(--cancel-font-color);
  border: 1px solid var(--cancel-border-color);
}
