form {
  padding-bottom: 0.5em;
}
label[for] {
  display: block;
  margin-top: 0.7em;
}
input[type]{
  padding: 0.8em;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 7px;
}

input[type]:focus,
input[type]:hover {
  box-shadow: 0 0 0.1em rgb(0, 0, 0, 0.5);
}

input.ng-invalid {
  box-shadow: 0 0 0.5em rgb(220, 0, 0);
}

input[type="text"] {
  width: 40%;
  min-height: 1.5em;
}
input[name="nome"] {
  width: 100%;
}
input[name="nome"].search {
  width: calc(100% - 6em);
  display: inline-block;
}
a.search {
  margin: 3px;
  float: right;
  display: inline-block;
  position: relative;

  background-size: 2em 2em;
  background-repeat: no-repeat;
  background-image: url('/resource/img/search-icon.png');
  background-color: rgba(127, 127, 127, 0.2);

  border-radius: 5px;
  width: 2em;
  height: 2em;
  text-indent: -999999px;
  cursor: pointer;
}
a.search:hover {
  background-color: rgba(127, 127, 127, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
input:focus {
  background: rgb(255, 255, 220);
}

form button {
  font-weight: bold;
  padding: 0.6em 5ch;
  margin-top: 1em;
  box-shadow: 0 0 0.1em rgb(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 100%;
  display: inline-block;
  color: var(--general-button-font-color);
}

form button[type=submit] {
  background-color: var(--confirm-color);
  border: 2px solid var(--confirm-border-color);
}

form button[name="Cancelar"] {
  background-color: var(--cancel-color);
  color: var(--cancel-font-color);
  border: 2px solid var(--cancel-border-color);
  margin-left: 1em;
}

button[type=submit]:hover {
  box-shadow: var(--common-hover-button-shadow);
}

.field-invalid {
  color: rgb(255, 0, 0);
  font-size: 0.8em;
  display: block;
  margin-top: 0.5em;
}

.data-added {
  color: rgb(0, 255, 0);
  font-size: 0.8em;
  display: block;
  margin-top: 0.5em;
}

.table-title {
  padding-top: 10px;
  display: inline-block;
}

.table-filter {
  display: inline-block;
  float: right;
}

input.table-filter {
  width: 20%;
  min-height: 0;
  margin-top: 5px;
  margin-right: 10ch;
}

label.table-filter {
  margin-right: 1ch;
}

.inline {
  display: inline-block;
}
