:root {
  --menu-color:rgba(127, 127, 127);
  --light-menu-color:rgb(150, 150, 150);
  --main-font-color:rgb(255, 255, 255);
  --title-font-size: 2em;
  --subtitle-font-size: 1.2em;
  --aside-size:calc(2.3em + var(--title-font-size));
  --gradient-inclinado: linear-gradient(135deg, rgba(135,135,135,0), rgba(135,135,135,0.1)14px, rgba(255, 255, 255, 0) 14px,
                        rgba(255, 255, 255, 0.1) 15px, rgba(135,135,135,0.1)15px, rgba(135,135,135,0));
  --menu-size: 30ch;
  --confirm-color: rgb(60, 180, 60);
  --confirm-border-color: rgb(0, 150, 0);
  --general-button-font-color: rgb(20, 20, 60);
  --cancel-color: rgb(200, 80, 0);
  --cancel-border-color: rgb(150, 60, 0);
  --cancel-font-color: rgb(255, 255, 255);
  --common-hover-button-shadow: 0 0 0.15em rgb(0, 0, 0, 1);
}

body {
  font-size: 120%;
  line-height: 1.2;
  font-family: sans-serif;
}

.menu {
  background-color: var(--menu-color);
  width: var(--menu-size);
  display: block;
  position: absolute;
  top: var(--aside-size);
  height: 100%;
}

.content {
  position: relative;
  top: var(--aside-size);
  left: 30ch;
  margin: 0 0;
  float: left;
  width: calc(100% - 30ch);
}

.gradient {
  background-image: linear-gradient(to right, transparent, transparent 1px, rgba(0, 0, 0, 0.01) 1px, rgba(0, 0, 0, 0.01) 3px, transparent 3px, transparent),
                    linear-gradient(to bottom, transparent, transparent 1px, rgba(0, 0, 0, 0.01) 1px, rgba(0, 0, 0, 0.01) 3px, transparent 3px, transparent);
  background-size: 5px 5px;
}

.barra-superior {
  background-color: var(--light-menu-color);
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1em;
  display: block;
  box-sizing: border-box;
}

.barra-superior h1 {
  color: var(--main-font-color);
  font-weight: bold;
  text-shadow: 0.04em 0.04em rgb(0, 0, 0);
  margin-left: 2ch;
}

.title {
  font-size: var(--title-font-size);
}

.subtitle {
  font-size: var(--subtitle-font-size);
}

.border-bottom {
  background-image: linear-gradient(to right, rgba(120, 120, 120, 0.1), rgba(120, 120, 120, 0.3), rgba(120, 120, 120, 0.1));
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container {
  width: calc(100% - 20ch);
  margin-left: auto;
  margin-right: auto;
}
