:root {
  --dark-table-color: rgba(180, 180, 180, 1);
  --medium-table-color: rgba(200, 200, 200, 0.5);
  --light-table-color: rgba(200, 200, 200, 0.3);
}

td, th {
  border: 1px solid var(--light-menu-color);
  padding: 0.3em 2ch;
  text-align: left;
  background-image: var(--gradient-inclinado);
  background-size:  20px 20px;
}

th {
  background-color: var(--dark-table-color);
}

tr {
  background-color: var(--light-table-color);
}

.centralize {
  margin-left: auto;
  margin-right: auto;
}

.content-table {
  margin-top: 1rem;
  width: 100%;
}

.button-cell {
  border: none;
  padding: 0.1em 0;
  margin: 0;
  background-color: white;
  background-image: none;
  position: relative;
}

.button-cell a {
  text-indent: -99999px;
  display: block;
  width: 30px;
  height: 30px;
}

.edit {
  background-image: url("../resource/img/edit.png");
  background-size: 30px 30px;
  margin-left: 7px;
}

.delete {
  background-image: url("../resource/img/delete.png");
  background-size: 30px 30px;
}

table>tbody>tr:nth-of-type(odd) {
  background-color: var(--medium-table-color);
}

.mark.ng-enter,
.mark.ng-move,
.mark.ng-leave.ng-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.mark.ng-enter.ng-enter-active,
.mark.ng-move.ng-move-active {
  opacity: 1;
  transform: scaleY(1);
}

.mark.ng-leave,
.mark.ng-enter,
.mark.ng-move {
  transition: 0.5s;
}
