<link rel="stylesheet" href="js/services/panels/data-search/data-search.css">
<table pdr-table proporcoes="2,1,1" class="content-table inline-table">
  <thead class="gradient" pdr-header titulos="Produto,Custo,Valor"></thead>
  <tbody pdr-body data-service="Produtos" single-select></tbody>
</table>
